@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-color: #F8F8F8;
  --primary-color: #FF004F;
  --secondary-color: #00335B;
  --success-color: #78D12F;
  --success-alt-color: #78d12f77;
  --info-color: #007AFF;
  --info-alt-color: #D4E2FC;
  --gray-color: #ebebeb;
  --warning-color: #FFC107;
  --error-color: #ff0000;
  --sidebar-width: 300px;
  --light-color: #ffffff;
  --primary-alt-color: #ff005154;
  --secondary-alt-color: #054474;
  --dark-color: #000000;
}

body {
  margin: 0;
  background: var(--base-color);
  font-family: 'Roboto', sans-serif;
}